*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body a{
    font-size: 40px;
    display: block;
}
a:link{
    color: hotpink;
    text-align: center;
}
a:visited{
    color: green;
    text-align: center;
}
a:hover{
    color: black;
    text-align: center;
}
a:active{
    color: red;
    text-align: center;
}